<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Speedy Standup</title>
  </head>
  <body>
    <h1>Speedy Standup</h1>

    <form action="/blockers" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="blocker" name="blocker" />
      <input type="text" placeholder="url" name="url" />
      <button type="submit">Submit</button>

      <h2>Blockers</h2>

      <ul class="blockets">
        <% for(var i = 0; i < blockers.length; i++) {%>
        <li class="blocker">
          <span><%= blockers[i].name %></span>:
          <span><%= blockers[i].blocker %> TICKET: </span>
          <a href="<%= blockers[i].url %>"><%= blockers[i].url %></a>
        </li>
        <% } %>
      </ul>
    </form>
  </body>
</html>
